#wrapper{
}
#main{
    position: relative;
    width: 1336px;
    margin: auto;
    height:768px;
    margin-left: auto;
    margin-right: auto;
    /*overflow: hidden;*/
}
#sidebar{
    position:fixed;
    overflow: hidden;
    zoom: 1;
    top:45%;
    /*margin-left: 35px;*/
    /*margin-right: 35px;*/
    /*width: 320px;*/
    margin: 0 auto;
    float: left;
    width: 410px;
    /*height: 900px;*/
}


#header p{
    font-size: 20px;
    /*font-style: bold;*/
    /*font-weight: 600;*/
    font-family: "ProximaNova-Semibold";
    /*font-family:"Times New Roman",Georgia,Serif;*/

    letter-spacing: 10px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 53px;
}

#navigation{
    margin: 0 auto;

}
ul.nav {
    padding: 0;
    list-style-type: none;
    font-family: "ProximaNova-Regular";
    font-size: 14px;
    letter-spacing: 4px;

}
.nav li{
    /*max-resolution: res;*/
    /*padding: ;*/
    color:#333333;
    
    margin: 20px 0;

}

a{
    text-decoration:none;
    color:#333333;
}
a:hover
{
    color:#FF0066;

}

/*a:hover*/
/*{*/
    /*color:#FF0066;*/
/*}*/

#about-me p{
    color:#A7B0B0;
    margin-top: 80px;
    font-size: 14px;
    font-family: "ProximaNova-Light";
    letter-spacing: 2px;
}

#article-lists{
    margin-left: 28%;
    width: 63%;
    /*margin-top: 250px;*/
    margin-top: 15%;
    /*width: 80%;*/
    /*padding-right: ;*/
    /*float: right;*/
}

.thumbnail {
    width: 176px;
    height: 176px;
    background: #FF0066;
    float:left;
    margin-right: 25px;
}
.post-title{
    margin-top: 96px;
    font-size: 20pt;
    font-family: "ProximaNova-Semibold";

}
.post-title p{
    margin: 0;
    /*margin-bottom: 0;*/
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 2.5px;
}
.post-content{
    color:#666666;
    line-height: 25px;
    font-size: 15px;
    font-family: "ProximaNova-Regular";
}

.post-content p{
    margin: 0;
}

.post-date p{
    color:#A7B0B0;
    font-family: "ProximaNova-Light";
    font-size: 12pt;
    letter-spacing: 2px;
    margin: 19px 0 13px 0;
}

#bottom-line{
    margin-top: 25px;
    border-bottom: 2.9px dotted;
}

.content-pic{
    width: 507px;
    height: 185px;
    background: #FF0066;
    margin-top: 68px;
    /*float:left;*/
    /*margin-right: 25px;*/
}