body {
    background: url("../img/bg.jpg") repeat fixed;
}

#header h1{
    position: absolute;
    top: 90px;
    text-align: center;
    width: 100%;
}

#description {
    position: absolute;
    top: 140px;
    text-align: center;
    width: 100%;
}

div:after {
    clear: both;
}

#navigation{
    height: 38px;
    background: url("../img/sprite.png") ;

}
#search{
    background: url("../img/sprite.png") 0 -600px no-repeat;
}

.post{
    background: #f2f2f2
}

.post {
    padding: 25px 90px 22px;
}

.date {
    float: left;
    margin-left: -120px;
}
.date p{
    background-color: #eb374b;
    color: #fff;
    text-align: right;
    padding: 5px 10px;
    font-size: 0.75em;
}
.date .day{
    font-size: 1.6875em;
    display: block;
}
#content {
    width: 690px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 255px;
}